.container { 
 display: grid; 
 place-items: center; 
 min-height: calc(100vh - 90px); /* resta la altura del nav */ 
}

.product {
  max-width: 1000px;
  margin: 2rem auto; 
  padding: 2rem; 
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  color: black;
}

.back { 
  margin-bottom: 1rem; 
  text-align: left;
}

.product_grid { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 2rem; 
  align-items: center; 
} 

.product_image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_image img { 
  width: 300px; 
  height: 320px; 
  object-fit: contain;
} 

.product_info { 
  display: flex; 
  flex-direction: column; 
  gap: 1rem; 
}

.product h1 {
  font-size: 1.8rem;
  text-align: center;
}

.product h2 {
  font-size: 1.2rem;
}

.product p {
  font-size: 1rem;
}

.product_price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.product_price h3 {
  font-size: 1.2rem;
}

